.summeros{
    background-color: #FEFCFB;
    .ant-layout-header{
        display: flex;
        background: transparent;
        justify-content: space-between;
    }
    .menu {
        background: transparent;
    }
}