.summeros{
    background-color: #FEFCFB;
    align-items: center;
    .ant-layout-header{
        display: flex;
        background: transparent;
        justify-content: space-between;
    }
    .menu {
        background: transparent;
    }
    .header,
    .content,
    .footer
    {
        width: 1300px;
    }
}